---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pcap-claim
spec:
  storageClassName: {{ .Values.storage.pcap_claim.className }}
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.storage.pcap_claim.size }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zeek-claim
spec:
  storageClassName: {{ .Values.storage.zeek_claim.className }}
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.storage.zeek_claim.size }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: suricata-claim-offline
spec:
  storageClassName: {{ .Values.storage.suricata_claim.className }}
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.storage.suricata_claim.size }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-claim
spec:
  storageClassName: {{ .Values.storage.config_claim.className }}
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.storage.config_claim.size }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: runtime-logs-claim
spec:
  storageClassName: {{ .Values.storage.runtime_logs_claim.className }}
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.storage.runtime_logs_claim.size }}

{{- if .Values.opensearch.enabled }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-claim
spec:
  storageClassName: {{ .Values.storage.opensearch_claim.className }}
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.storage.opensearch_claim.size }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-backup-claim
spec:
  storageClassName: {{ .Values.storage.opensearch_backup_claim.className }}
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.storage.opensearch_backup_claim.size }}
{{- end }}