---
apiVersion: v1
kind: Service
metadata:
  name: pcap-monitor
spec:
  ports:
    - port: 30441
      protocol: TCP
      name: zmq
  selector:
    name: pcap-monitor-deployment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pcap-monitor-deployment
spec:
  selector:
    matchLabels:
      name: pcap-monitor-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: pcap-monitor-deployment
    spec:
      containers:
      {{ include "malcolm.pcapMonitor.container" (dict
           "root" $
           "mode" "monitor"
           "env" (list
             (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
           )
           "pcapVolumeName" "pcap-monitor-pcap-volume"
           "zeekVolumeName" "pcap-monitor-zeek-volume"
           "curlrcVolumeName" "pcap-monitor-opensearch-curlrc-secret-volume"
         ) | nindent 6 }}
      initContainers:
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "pcap-monitor-dirinit-container"
           "env" (list
             (dict "name" "PUSER_MKDIR" "value" "/data/pcap:processed,upload")
           )
           "volumeMounts" (list
             (dict "name" "pcap-monitor-pcap-volume" "mountPath" "/data/pcap")
           )
         ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: pcap-monitor-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: pcap-monitor-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: pcap-monitor-zeek-volume
          persistentVolumeClaim:
            claimName: zeek-claim
