{{- $arkime_image := .Values.image.arkime_container_override | default (printf "%s/arkime:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: v1
kind: Service
metadata:
  name: arkime
spec:
  ports:
    - port: 8005
      protocol: TCP
      name: http
    - port: 8081
      protocol: TCP
      name: wise
  selector:
    name: arkime-deployment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: arkime-deployment
spec:
  selector:
    matchLabels:
      name: arkime-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: arkime-deployment
    spec:
      containers:
      - name: arkime-container
        image: "{{ $arkime_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - SYS_RESOURCE
        ports:
          - name: http
            protocol: TCP
            containerPort: 8005
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: opensearch-env
          - configMapRef:
              name: upload-common-env
          - configMapRef:
              name: arkime-env
          - configMapRef:
              name: arkime-offline-env
          - configMapRef:
              name: auth-common-env
          - secretRef:
              name: arkime-secret-env
        env:
          - name: MALCOLM_USERNAME
            valueFrom:
              secretKeyRef:
                name: {{ .Values.auth.existingSecret | default "auth-env" }}
                key: "{{ if .Values.auth.existingSecret }}{{ .Values.auth.usernameKey }}{{ else }}MALCOLM_USERNAME{{ end }}"
          - name: PCAP_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        livenessProbe:
          failureThreshold: 10
          httpGet:
            path: /_ns_/nstest.html
            port: 8005
            scheme: HTTP
          initialDelaySeconds: 210
          periodSeconds: 90
          successThreshold: 1
          timeoutSeconds: 30
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: arkime-var-local-catrust-volume
          - mountPath: /var/local/curlrc/secretmap
            name: arkime-opensearch-curlrc-secret-volume
          - mountPath: "/data/pcap"
            name: arkime-pcap-volume
          - mountPath: "/opt/arkime/wiseini"
            name: arkime-config-volume
            subPath: "arkime/wiseini"
          - mountPath: "/opt/arkime/lua/configmap"
            name: arkime-lua-volume
{{- if and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name }}
          - name: elastic-cert
            mountPath: /usr/local/share/ca-certificates/elastic_ca.crt
            subPath: elastic_ca.crt
{{- end }}
      initContainers:
      - name: arkime-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/config:arkime/wiseini;/data/pcap:processed,arkime-live"
        volumeMounts:
          - name: arkime-pcap-volume
            mountPath: "/data/pcap"
          - name: arkime-config-volume
            mountPath: "/data/config"
      volumes:
        - name: arkime-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: arkime-lua-volume
          configMap:
            name: arkime-lua
        - name: arkime-config-volume
          persistentVolumeClaim:
            claimName: config-claim
        - name: arkime-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: arkime-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
{{- if and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name }}
        - name: elastic-cert
          secret:
            secretName: {{ .Values.external_elasticsearch.elastic_cert_name }}
{{- end }}
