{{- $arkime_image := .Values.image.arkime_container_override | default (printf "%s/arkime:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: v1
kind: Service
metadata:
  name: arkime
spec:
  ports:
    - port: 8005
      protocol: TCP
      name: http
    - port: 8081
      protocol: TCP
      name: wise
  selector:
    name: arkime-deployment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: arkime-deployment
spec:
  selector:
    matchLabels:
      name: arkime-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: arkime-deployment
    spec:
      containers:
      {{ include "malcolm.arkime.container" (dict
           "root" $
           "name" "arkime-container"
           "ports" (list (dict "name" "http" "protocol" "TCP" "containerPort" 8005))
           "securityContext" (dict
             "capabilities" (dict "add" (list "IPC_LOCK" "SYS_RESOURCE"))
           )
           "envFrom" (list
             (dict "configMapRef" (dict "name" "process-env"))
             (dict "configMapRef" (dict "name" "ssl-env"))
             (dict "configMapRef" (dict "name" "opensearch-env"))
             (dict "configMapRef" (dict "name" "upload-common-env"))
             (dict "configMapRef" (dict "name" "arkime-env"))
             (dict "configMapRef" (dict "name" "arkime-offline-env"))
             (dict "configMapRef" (dict "name" "auth-common-env"))
             (dict "secretRef"    (dict "name" "arkime-secret-env"))
           )
           "volumeMounts" (concat
             (list
               (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
               (dict "mountPath" "/var/local/curlrc/secretmap"   "name" "arkime-opensearch-curlrc-secret-volume")
               (dict "mountPath" "/data/pcap"                    "name" "arkime-pcap-volume")
               (dict "mountPath" "/opt/arkime/etc/wise.ini.example" "name" "wise-config" "subPath" "wise.ini")
               (dict "mountPath" "/opt/arkime/wiseini"           "name" "arkime-config-volume")
               (dict "mountPath" "/opt/arkime/lua/configmap"     "name" "arkime-lua-volume")
             )
             (ternary
               (list (dict "name" "elastic-cert" "mountPath" "/usr/local/share/ca-certificates/elastic_ca.crt" "subPath" "elastic_ca.crt"))
               (list)
               (and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name)
             )
           )
         ) | nindent 6 }}
        env:
          - name: MALCOLM_USERNAME
            valueFrom:
              secretKeyRef:
                name: {{ .Values.auth.existingSecret | default "auth-env" }}
                key: "{{ if .Values.auth.existingSecret }}{{ .Values.auth.usernameKey }}{{ else }}MALCOLM_USERNAME{{ end }}"
          - name: PCAP_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
      initContainers:
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "arkime-dirinit-container"
           "env" (list
             (dict "name" "PUSER_MKDIR" "value" "/data/config:arkime/wiseini;/data/pcap:processed,arkime-live")
             (dict "name" "PUSER_COPY" "value" "/opt/arkime/etc/wise.ini.example:/opt/arkime/wiseini/wise.ini")
           )
           "volumeMounts" (list
             (dict "name" "arkime-pcap-volume" "mountPath" "/data/pcap")
             (dict "name" "arkime-config-volume" "mountPath" "/opt/arkime/wiseini")
             (dict "name" "wise-config" "mountPath" "/opt/arkime/etc/wise.ini.example" "subPath" "wise.ini")
           )
         ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: arkime-lua-volume
          configMap:
            name: arkime-lua
        - name: wise-config
          configMap:
            name: wise-config
        - name: arkime-config-volume
          emptyDir:
            sizeLimit: 50Mi
        - name: arkime-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: arkime-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
{{- if and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name }}
        - name: elastic-cert
          secret:
            secretName: {{ .Values.external_elasticsearch.elastic_cert_name }}
{{- end }}
