---
apiVersion: v1
data:
  ZEEK_AUTO_ANALYZE_PCAP_FILES: "true"
{{- if .Values.is_production }}
  {{- with .Values.zeek_offline.production }}
  ZEEK_AUTO_ANALYZE_PCAP_THREADS: "{{ .zeek_auto_analyze_pcap_threads }}"
  {{- end }}
{{- else }}
  {{- with .Values.zeek_offline.development }}
  ZEEK_AUTO_ANALYZE_PCAP_THREADS: "{{ .zeek_auto_analyze_pcap_threads }}"
  {{- end }}
{{- end }}
  ZEEK_ROTATED_PCAP: "false"
  # Set ZEEK_DISABLE_STATS to blank to generate stats.log and capture_loss.log
  ZEEK_DISABLE_STATS: "true"
  ZEEK_INTEL_REFRESH_CRON_EXPRESSION: "{{ .Values.zeek_offline.zeek_intel_refresh_cron_expression }}"
  ZEEK_INTEL_REFRESH_ON_STARTUP: "{{ .Values.zeek_offline.zeek_intel_refresh_on_startup }}"
kind: ConfigMap
metadata:
  name: zeek-offline-env

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zeek-offline-deployment
spec:
  selector:
    matchLabels:
      name: zeek-offline-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: zeek-offline-deployment
    spec:
      serviceAccountName: {{ .Values.zeek_chart_overrides.serviceAccountName | default "default" }}
      containers:
      {{ include "malcolm.zeek.container" (dict
           "root" $
           "mode" "offline"
           "securityContext" (dict "runAsGroup" 0 "runAsUser" 0)
           "env" (list
             (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
           )
           "baseVolumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/pcap" "name" "zeek-offline-pcap-volume")
             (dict "mountPath" "/zeek/extract_files" "name" "zeek-offline-zeek-volume" "subPath" "extract_files")
             (dict "mountPath" "/zeek/upload" "name" "zeek-offline-zeek-volume" "subPath" "upload")
             (dict "mountPath" "/usr/local/zeek/share/zeek/site/intel-preseed/configmap" "name" "zeek-offline-intel-preseed-volume")
             (dict "mountPath" "/usr/local/zeek/share/zeek/site/intel" "name" "zeek-intel-volume" "subPath" "zeek/intel")
           )
         ) | nindent 6 }}
      {{- if ne (len .Values.zeek_chart_overrides.sideCars) 0 }}
      {{- toYaml .Values.zeek_chart_overrides.sideCars | nindent 6 }}
      {{- end }}
      initContainers:
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "zeek-offline-dirinit-container"
           "env" (list
             (dict "name" "PUSER_MKDIR" "value" "/data/config:zeek/intel/Mandiant,zeek/intel/MISP,zeek/intel/STIX;/data/pcap:processed;/data/zeek-logs:current,extract_files/filescan,live,processed,upload")
           )
           "volumeMounts" (list
             (dict "name" "zeek-intel-volume" "mountPath" "/data/config")
             (dict "name" "zeek-offline-pcap-volume" "mountPath" "/data/pcap")
             (dict "name" "zeek-offline-zeek-volume" "mountPath" "/data/zeek-logs")
           )
         ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: zeek-offline-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: zeek-offline-zeek-volume
          persistentVolumeClaim:
            claimName: zeek-claim
        - name: zeek-offline-intel-preseed-volume
          configMap:
            name: zeek-intel-preseed
        - name: zeek-intel-volume
          persistentVolumeClaim:
            claimName: config-claim
        {{- if ne (len .Values.zeek_chart_overrides.offline_upload_volumes) 0 }}
        {{- toYaml .Values.zeek_chart_overrides.offline_upload_volumes | nindent 8 }}
        {{- else }}
        - name: zeek-custom-volume
          configMap:
            name: zeek-custom
        {{- end }}
