{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $suricata_image := .Values.image.suricata_container_override | default (printf "%s/suricata:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: v1
data:
  SURICATA_AUTO_ANALYZE_PCAP_FILES: "true"
{{- if .Values.is_production }}
  {{- with .Values.suricata_offline.production }}
  SURICATA_AUTO_ANALYZE_PCAP_THREADS: "{{ .suricata_auto_analyze_pcap_threads }}"
  {{- end }}
{{- else }}
  {{- with .Values.suricata_offline.development }}
  SURICATA_AUTO_ANALYZE_PCAP_THREADS: "{{ .suricata_auto_analyze_pcap_threads }}"
  {{- end }}
{{- end }}
  SURICATA_PCAP_PROCESSOR: "true"
  SURICATA_ROTATED_PCAP: "false"
kind: ConfigMap
metadata:
  name: suricata-offline-env

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: suricata-offline-deployment
spec:
  selector:
    matchLabels:
      name: suricata-offline-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: suricata-offline-deployment
    spec:
      serviceAccountName: {{ .Values.suricata_chart_overrides.serviceAccountName | default "default" }}
      containers:
      - name: suricata-container
        image: "{{ $suricata_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          # TODO we should not be using root here
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: upload-common-env
          - configMapRef:
              name: suricata-env
          - configMapRef:
              name: suricata-offline-env
        env:
          - name: PCAP_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 120
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          {{- if ne (len .Values.suricata_chart_overrides.volumeMounts) 0 }}
          {{- toYaml .Values.suricata_chart_overrides.volumeMounts | nindent 10 }}
          {{- else }}
          - mountPath: /var/local/ca-trust/configmap
            name: suricata-offline-var-local-catrust-volume
          - mountPath: "/data/pcap"
            name: suricata-offline-pcap-volume
          - mountPath: "/var/log/suricata"
            name: suricata-offline-suricata-logs-volume
          - mountPath: "/opt/suricata/rules/configmap"
            name: suricata-custom-rules-volume
          - mountPath: "/opt/suricata/include-configs/configmap"
            name: suricata-custom-configs-volume
          {{- end }}
      {{- if ne (len .Values.suricata_chart_overrides.sideCars) 0 }}
      {{- toYaml .Values.suricata_chart_overrides.sideCars | nindent 6 }}
      {{- end }}
      initContainers:
      - name: suricata-offline-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/pcap:processed"
        volumeMounts:
          - name: suricata-offline-pcap-volume
            mountPath: "/data/pcap"
      volumes:
        {{- if ne (len .Values.suricata_chart_overrides.volumes) 0 }}
        {{- toYaml .Values.suricata_chart_overrides.volumes | nindent 8 }}
        {{- else }}
        - name: suricata-offline-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: suricata-offline-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: suricata-offline-suricata-logs-volume
          persistentVolumeClaim:
            claimName: suricata-claim-offline
        - name: suricata-custom-rules-volume
          configMap:
            name: suricata-rules
        - name: suricata-custom-configs-volume
          configMap:
            name: suricata-configs
        {{- end }}
