{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $suricata_image := .Values.image.suricata_container_override | default (printf "%s/suricata:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: v1
data:
  SURICATA_AUTO_ANALYZE_PCAP_FILES: "true"
{{- if .Values.is_production }}
  {{- with .Values.suricata_offline.production }}
  # The number of threads per Suricata process (0 means "default behavior")
  SURICATA_AUTO_ANALYZE_PCAP_PROCESSES: "{{ .suricata_auto_analyze_pcap_processes }}"
  SURICATA_AUTO_ANALYZE_PCAP_THREADS: "{{ .suricata_auto_analyze_pcap_threads }}"
  {{- end }}
{{- else }}
  {{- with .Values.suricata_offline.development }}
  SURICATA_AUTO_ANALYZE_PCAP_THREADS: "{{ .suricata_auto_analyze_pcap_threads }}"
  SURICATA_AUTO_ANALYZE_PCAP_PROCESSES: "{{ .suricata_auto_analyze_pcap_processes }}"
  {{- end }}
{{- end }}
  SURICATA_ROTATED_PCAP: "false"
kind: ConfigMap
metadata:
  name: suricata-offline-env

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: suricata-offline-deployment
spec:
  selector:
    matchLabels:
      name: suricata-offline-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: suricata-offline-deployment
    spec:
      serviceAccountName: {{ .Values.suricata_chart_overrides.serviceAccountName | default "default" }}
      containers:
      {{ include "malcolm.suricata.container" (dict
           "root" $
           "mode" "offline"
           "securityContext" (dict "runAsGroup" 0 "runAsUser" 0)
           "envFrom" (list
             (dict "configMapRef" (dict "name" "process-env"))
             (dict "configMapRef" (dict "name" "ssl-env"))
             (dict "configMapRef" (dict "name" "upload-common-env"))
             (dict "configMapRef" (dict "name" "suricata-env"))
             (dict "configMapRef" (dict "name" "suricata-offline-env"))
           )
           "env" (list
             (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
           )
           "baseVolumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/data/pcap" "name" "suricata-offline-pcap-volume")
             (dict "mountPath" "/var/log/suricata" "name" "suricata-offline-suricata-logs-volume")
           )
         ) | nindent 6 }}
      {{- if ne (len .Values.suricata_chart_overrides.sideCars) 0 }}
      {{- toYaml .Values.suricata_chart_overrides.sideCars | nindent 6 }}
      {{- end }}
      initContainers:
      - name: suricata-offline-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/pcap:processed"
        volumeMounts:
          - name: suricata-offline-pcap-volume
            mountPath: "/data/pcap"
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: suricata-offline-pcap-volume
          persistentVolumeClaim:
            claimName: pcap-claim
        - name: suricata-offline-suricata-logs-volume
          persistentVolumeClaim:
            claimName: suricata-claim-offline
        {{- if ne (len .Values.suricata_chart_overrides.volumes) 0 }}
        {{- toYaml .Values.suricata_chart_overrides.volumes | nindent 8 }}
        {{- else }}
        - name: suricata-custom-rules-volume
          configMap:
            name: suricata-rules
        - name: suricata-custom-configs-volume
          configMap:
            name: suricata-configs
        {{- end }}
