{{- $file_monitor_image := .Values.image.file_monitor_container_override | default (printf "%s/file-monitor:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: yara-rules
data:
  .gitignore: |+
    *
    !.gitignore

---
apiVersion: v1
kind: Service
metadata:
  name: file-monitor
spec:
  ports:
    - port: 3310
      protocol: TCP
      name: clamav
    - port: 5987
      protocol: TCP
      name: filetopic
    - port: 5988
      protocol: TCP
      name: loggertopic
    - port: 8440
      protocol: TCP
      name: http
  selector:
    name: file-monitor-deployment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: file-monitor-deployment
spec:
  selector:
    matchLabels:
      name: file-monitor-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: file-monitor-deployment
    spec:
      containers:
      - name: file-monitor-container
        image: "{{ $file_monitor_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          # TODO we should not be using root here
          runAsGroup: 0
          runAsUser: 0
        ports:
          - name: clamav
            containerPort: 3310
            protocol: TCP
          - name: filetopic
            containerPort: 5987
            protocol: TCP
          - name: loggertopic
            containerPort: 5988
            protocol: TCP
          - name: http
            protocol: TCP
            containerPort: 8440
        envFrom:
          - configMapRef:
              name: dashboards-env
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: zeek-env
          - secretRef:
              name: zeek-secret-env
        env:
          - name: VIRTUAL_HOST
            value: "file-monitor.malcolm.local"
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: file-monitor-var-local-catrust-volume
          - mountPath: "/zeek/extract_files"
            name: file-monitor-zeek-volume
            subPath: "extract_files"
          - mountPath: "/zeek/logs"
            name: file-monitor-zeek-volume
            subPath: "current"
          - mountPath: "/yara-rules/custom/configmap"
            name: file-monitor-yara-rules-custom-volume
      initContainers:
      - name: file-monitor-live-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/zeek-logs:extract_files/preserved,extract_files/quarantine"
        volumeMounts:
          - name: file-monitor-zeek-volume
            mountPath: "/data/zeek-logs"
      volumes:
        - name: file-monitor-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: file-monitor-zeek-volume
          persistentVolumeClaim:
            claimName: zeek-claim
        - name: file-monitor-yara-rules-custom-volume
          configMap:
            name: yara-rules
