---
apiVersion: v1
kind: Service
metadata:
  name: filebeat
spec:
  # use "type: ClusterIP" if using Ingress-NGINX as illustrated in 99-ingress-nginx.yml.example
  # use "type: LoadBalancer" if using AWS Load Balancer as illustrated in 99-ingress-alb.yml.example
  type: ClusterIP
  ports:
    - port: 5045
      protocol: TCP
      name: tcpjson
  selector:
    name: filebeat-offline-deployment

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: filebeat-daemonset
spec:
  selector:
    matchLabels:
      name: filebeat-daemonset
  template:
    metadata:
      labels:
        name: filebeat-daemonset
    spec:
      affinity:
        nodeAffinity:
{{ toYaml .Values.filebeat.daemonsetNodeAffinity | indent 10 }}
{{- with .Values.live_capture.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}
      containers:
      {{ include "malcolm.filebeat.container" (dict
           "root" $
           "redisSecretName" "redis-env"
           "ports" (list (dict "name" "tcpjson" "protocol" "TCP" "containerPort" 5045))
           "env" (list
             (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
             (dict "name" "FILEBEAT_ZEEK_LOG_LIVE_PATH" "value" "/zeek/live")
             (dict "name" "FILEBEAT_FILESCAN_LOG_PATH" "value" "/filescan")
           )
           "volumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/var/local/curlrc/secretmap" "name" "filebeat-opensearch-curlrc-secret-volume")
             (dict "mountPath" "/suricata" "name" "filebeat-suricata-live-volume")
             (dict "mountPath" "/zeek" "name" "zeek-live-logs-volume")
             (dict "mountPath" "/filescan" "name" "filescan-live-logs-volume")
           )
         ) | nindent 6 }}
      initContainers:
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "filebeat-dirinit-container"
           "env" (list
             (dict "name" "PUSER_CHOWN" "value" "/zeek;/filescan")
           )
           "volumeMounts" (list
             (dict "name" "zeek-live-logs-volume" "mountPath" "/zeek")
             (dict "name" "filescan-live-logs-volume" "mountPath" "/filescan")
           )
         ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: filebeat-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: filebeat-suricata-live-volume
          hostPath:
            path: "{{ .Values.suricata_live.suricata_log_path }}"
            type: DirectoryOrCreate
        - name: zeek-live-logs-volume
          hostPath:
            path: "{{ .Values.zeek_live.zeek_log_path }}"
            type: DirectoryOrCreate
        - name: filescan-live-logs-volume
          hostPath:
            path: "{{ .Values.zeek_live.filescan_log_path }}"
            type: DirectoryOrCreate

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebeat-offline-deployment
spec:
  selector:
    matchLabels:
      name: filebeat-offline-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: filebeat-offline-deployment
    spec:
      containers:
      {{ include "malcolm.filebeat.container" (dict
           "root" $
           "redisSecretName" "redis-env"
           "ports" (list (dict "name" "tcpjson" "protocol" "TCP" "containerPort" 5045))
           "env" (list
             (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
             (dict "name" "FILEBEAT_SURICATA_LOG_PATH" "value" "/suricata-offline")
           )
           "volumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/var/local/curlrc/secretmap" "name" "filebeat-opensearch-curlrc-secret-volume")
             (dict "mountPath" "/zeek" "name" "filebeat-zeek-volume")
             (dict "mountPath" "/filescan" "name" "filebeat-runtime-logs-volume" "subPath" "filescan")
             (dict "mountPath" "/suricata-offline" "name" "filebeat-suricata-offline-volume")
             (dict "name" "filebeat-runtime-logs-volume" "mountPath" "/nginx" "subPath" "nginx")
           )
         ) | nindent 6 }}
      initContainers:
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "filebeat-offline-dirinit-container"
           "env" (list
             (dict "name" "PUSER_MKDIR" "value" "/data/runtime-logs:nginx,filescan")
           )
           "volumeMounts" (list
             (dict "name" "filebeat-runtime-logs-volume" "mountPath" "/data/runtime-logs")
           )
         ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: filebeat-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: filebeat-zeek-volume
          persistentVolumeClaim:
            claimName: zeek-claim
        - name: filebeat-suricata-offline-volume
          persistentVolumeClaim:
            claimName: suricata-claim-offline
        - name: filebeat-runtime-logs-volume
          persistentVolumeClaim:
            claimName: runtime-logs-claim
