{{- $logstash_image := .Values.image.logstash_container_override | default (printf "%s/logstash-oss:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: v1
data:
  # Which types of logs will be enriched via NetBox (comma-separated list of provider.dataset, or the string all to enrich all logs)  
  LOGSTASH_NETBOX_ENRICHMENT_DATASETS: "filescan.strelka,suricata.alert,zeek.conn,zeek.dce_rpc,zeek.dhcp,zeek.dns,zeek.known_hosts,zeek.known_routers,zeek.known_services,zeek.login,zeek.ntlm,zeek.notice,zeek.rdp,zeek.rfb,zeek.signatures,zeek.smb_cmd,zeek.smb_files,zeek.smb_mapping,zeek.software,zeek.ssh,zeek.weird"
  # Zeek log types that will be ignored (dropped) by LogStash
  # Defaults are: analyzer,broker,bsap_ip_unknown,bsap_serial_unknown,capture_loss,cluster,config,ecat_arp_info,loaded_scripts,packet_filter,png,print,prof,reporter,stats,stderr,stdout
  LOGSTASH_ZEEK_IGNORED_LOGS: "analyzer,broker,cluster,config,loaded_scripts,packet_filter,png,print,prof,reporter,stderr,stdout"
  # Whether or not Logstash will map MAC addresses to vendors for MAC addresses
  LOGSTASH_OUI_LOOKUP: "true"
  # Whether or not Logstash will perform a reverse DNS lookup for external IP addresses
  LOGSTASH_REVERSE_DNS: "false"
  # Whether or not Logstash will perform severity scoring on network traffic metadata
  LOGSTASH_SEVERITY_SCORING: "true"
  {{- if .Values.is_production }}
    {{- with .Values.logstash.production }}
  LS_JAVA_OPTS: -server {{ .java_memory }} -XX:-HeapDumpOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -Dlog4j.formatMsgNoLookups=true
  pipeline.batch.delay: "{{ .batch_delay }}"
  pipeline.batch.size: "{{ .batch_size }}"
  pipeline.workers: "{{ .workers }}"
  pipeline.ordered: "{{ .ordered }}"
    {{- end }}
  {{- else }}
    {{- with .Values.logstash.development }}
  LS_JAVA_OPTS: -server {{ .java_memory }} -XX:-HeapDumpOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -Dlog4j.formatMsgNoLookups=true
  # Parameters for tuning Logstash pipelines (see
  #   https://www.elastic.co/guide/en/logstash/current/logstash-settings-file.html)
  pipeline.batch.delay: "{{ .batch_delay }}"
  pipeline.batch.size: "{{ .batch_size }}"
  pipeline.workers: "{{ .workers }}"
  pipeline.ordered: "{{ .ordered }}"
    {{- end }}
  {{- end }}
kind: ConfigMap
metadata:
  name: logstash-env

---
apiVersion: v1
kind: Service
metadata:
  name: logstash
spec:
  # use "type: ClusterIP" if using Ingress-NGINX as illustrated in 99-ingress-nginx.yml.example
  # use "type: LoadBalancer" if using AWS Load Balancer as illustrated in 99-ingress-alb.yml.example
  type: ClusterIP
  ports:
    - port: 5044
      protocol: TCP
      name: lumberjack
    - port: 9001
      protocol: TCP
      name: supervisord
    - port: 9600
      protocol: TCP
      name: http
  selector:
    name: logstash-deployment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash-deployment
spec:
  selector:
    matchLabels:
      name: logstash-deployment
  replicas: {{ max 1 (div (include "malcolm.nodeCount" .) 2) }}
  template:
    metadata:
      labels:
        name: logstash-deployment
    spec:
      # affinity:
      #   podAntiAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #     - labelSelector:
      #         matchExpressions:
      #         - key: name
      #           operator: In
      #           values:
      #           - opensearch-deployment
      #       topologyKey: "kubernetes.io/hostname"
      containers:
      - name: logstash-container
        image: "{{ $logstash_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
              - SYS_RESOURCE
        ports:
          - name: lumberjack
            protocol: TCP
            containerPort: 5044
          - name: supervisord
            protocol: TCP
            containerPort: 9001
          - name: http
            protocol: TCP
            containerPort: 9600
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: opensearch-env
          - configMapRef:
              name: netbox-common-env
          - configMapRef:
              name: netbox-env
          - secretRef:
              name: netbox-secret-env
          - configMapRef:
              name: beats-common-env
          - configMapRef:
              name: lookup-common-env
          - configMapRef:
              name: logstash-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 600
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: var-local-catrust-volume
          - mountPath: /var/local/curlrc/secretmap
            name: logstash-opensearch-curlrc-secret-volume
          - name: logstash-config-persist-volume
            mountPath: /usr/share/logstash/config/persist
            subPath: "logstash"
{{- if .Values.siem_env.logstash_override.enabled }}
          - mountPath: /usr/share/logstash/malcolm-pipelines/output/99_opensearch_output.conf
            name: elastic-output-override
            subPath: 99_opensearch_output.conf
{{- end }}
      initContainers:
      - name: logstash-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/config:logstash"
        volumeMounts:
          - name: logstash-config-persist-volume
            mountPath: "/data/config"
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: logstash-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: logstash-config-persist-volume
          persistentVolumeClaim:
            claimName: config-claim
{{- if .Values.siem_env.logstash_override.enabled }}
        - name: elastic-output-override
          configMap:
            name: elastic-output-override
{{- end }}
