{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  ports:
    - port: 6379
      protocol: TCP
      name: redis
  selector:
    name: redis-deployment
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
spec:
  selector:
    matchLabels:
      name: redis-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: redis-deployment
    spec:
      containers:
      {{ include "malcolm.redis.container" (dict
        "root" $
        "name" "redis-container"
        "mode" "main"
        "secretName" "redis-env"
        "port" 6379
        "portName" "redis"
        "extraVolumeMounts" (list
          (dict "mountPath" "/data" "name" "redis-volume" "subPath" "redis")
        )
      ) | nindent 6 }}
      initContainers:
      - name: redis-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/config:redis"
        volumeMounts:
          - name: redis-volume
            mountPath: "/data/config"
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: redis-volume
          persistentVolumeClaim:
            claimName: config-claim
