---
apiVersion: v1
kind: Service
metadata:
  name: redis-cache
spec:
  ports:
    - port: 6379
      protocol: TCP
      name: redis
  selector:
    name: redis-cache-deployment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cache-deployment
spec:
  selector:
    matchLabels:
      name: redis-cache-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: redis-cache-deployment
    spec:
      containers:
      {{ include "malcolm.redis.container" (dict
          "root" $
          "name" "redis-cache-container"
          "mode" "cache"
          "secretName" "redis-env"
          "port" 6379
          "portName" "redis"
        ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
