{{- $global_storage_class_name := .Values.storage_class_name -}}
{{- $postgres_image := .Values.image.postgres_container_override | default (printf "%s/postgresql:%s" .Values.image.repository .Chart.AppVersion) }}
{{- if and .Values.postgres.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  ports:
    - port: 5432
      protocol: TCP
      name: postgresql
  selector:
    name: postgres-statefulset
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-headless
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - port: 5432
      protocol: TCP
      name: postgresql
  selector:
    name: postgres-statefulset
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-statefulset
spec:
  selector:
    matchLabels:
      name: postgres-statefulset
  serviceName: postgres-headless
  volumeClaimTemplates:
{{- if .Values.is_production }}
  {{- with .Values.storage.production }}
    - metadata:
        name: postgres-claim
      spec:
        storageClassName: {{ default $global_storage_class_name .postgres_claim.classNameOverride }}
        accessModes:
          - ReadWriteOnce
        volumeMode: Filesystem
        resources:
          requests:
            storage: {{ .postgres_claim.size }}
  {{- end }}
{{- else }}
  {{- with .Values.storage.development }}
    - metadata:
        name: postgres-claim
      spec:
        storageClassName: {{ default $global_storage_class_name .postgres_claim.classNameOverride }}
        accessModes:
          - ReadWriteOnce
        volumeMode: Filesystem
        resources:
          requests:
            storage: {{ .postgres_claim.size }}
  {{- end }}
{{- end }}
  replicas: 1
  template:
    metadata:
      labels:
        name: postgres-statefulset
    spec:
      containers:
      - name: postgres-container
        image: "{{ $postgres_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        ports:
          - name: postgresql
            protocol: TCP
            containerPort: 5432
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: netbox-common-env
          - secretRef:
              name: postgres-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 90
          periodSeconds: 60
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: var-local-catrust-volume
          - mountPath: /var/lib/postgresql/data
            name: postgres-claim
            subPath: postgres
      initContainers:
      {{ include "malcolm.dirinit.initContainer" (dict
           "root" $
           "name" "postgres-dirinit-container"
           "env" (list
             (dict "name" "PUSER_MKDIR" "value" "/data/config:postgres")
           )
           "volumeMounts" (list
             (dict "name" "postgres-claim" "mountPath" "/data/config")
           )
         ) | nindent 6 }}
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
{{- end }}
