{{- $image := .Values.image.zeek_container_override | default (printf "%s/zeek:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $file_monitor_image := .Values.image.file_monitor_container_override | default (printf "%s/file-monitor:%s" .Values.image.repository .Chart.AppVersion) }}
{{- if eq .Values.capture_mode "live" }}
---
apiVersion: v1
data:
  EXTRACT_FILES_PATH: /zeek/extract_files
  ZEEK_INTEL_PATH: /opt/zeek/share/zeek/site/intel
  ZEEK_LIVE_CAPTURE: "true"
  ZEEK_LOG_PATH: "/zeek/live"
  ZEEK_PCAP_PROCESSOR: "false"
  # Set ZEEK_DISABLE_STATS to blank to generate stats.log and capture_loss.log
  ZEEK_DISABLE_STATS: "{{ .Values.zeek_live.zeek_disable_stats }}"
  {{- if .Values.is_production }}
    {{- with .Values.zeek_live.production }}
  ZEEK_LB_PROCS_WORKER_DEFAULT: "{{ .zeek_lb_procs_worker_default }}"
  ZEEK_LB_PROCS: "{{ .zeek_lb_procs }}"
  WORKER_LB_PROCS: "{{ .worker_lb_procs }}"
  ZEEK_LB_METHOD: "{{ .zeek_lb_method }}"
  ZEEK_AF_PACKET_BUFFER_SIZE: "{{ .zeek_af_packet_buffer_size }}"
  ZEEK_PIN_CPUS_WORKER_1: "{{ .zeek_pin_cpus_worker_1 }}"
    {{- end }}
  {{- else }}
    {{- with .Values.zeek_live.development }}
  ZEEK_LB_PROCS_WORKER_DEFAULT: "{{ .zeek_lb_procs_worker_default }}"
  ZEEK_LB_PROCS: "{{ .zeek_lb_procs }}"
  WORKER_LB_PROCS: "{{ .worker_lb_procs }}"
  ZEEK_LB_METHOD: "{{ .zeek_lb_method }}"
  ZEEK_AF_PACKET_BUFFER_SIZE: "{{ .zeek_af_packet_buffer_size }}"
  ZEEK_PIN_CPUS_WORKER_1: "{{ .zeek_pin_cpus_worker_1 }}"
    {{- end }}
  {{- end }}
kind: ConfigMap
metadata:
  name: zeek-live-env
---

{{- include "malcolm.zeekLiveDaemonSet" (dict
    "root" .
    "name" "zeek-live-daemonset"
    "nodeSelector" .Values.zeek_live.nodeSelector
    "volume_type" "pvc"
    "puser_mkdir" "/zeek-live-logs:live/logs;/data/config:zeek/intel/Mandiant,zeek/intel/MISP,zeek/intel/STIX;/data/zeek-logs:current,extract_files/preserved,extract_files/quarantine,live,processed,upload"
    "include_file_monitor" false
    "include_sidecars" false
    "zeek_image" $image
    "dirinit_image" $dirinit_image
    "file_monitor_image" $file_monitor_image
    "imagePullPolicy" .Values.image.pullPolicy
  ) }}

---

{{- include "malcolm.zeekLiveDaemonSet" (dict
    "root" .
    "name" "zeek-live-daemonset-remotesensor"
    "nodeSelector" .Values.zeek_live.remoteNodeSelector
    "volume_type" "emptyDir"
    "puser_mkdir" "/zeek-live-logs:current,live/logs;/data/config:zeek/intel/Mandiant,zeek/intel/MISP,zeek/intel/STIX;/data/zeek-logs:current,extract_files/preserved,extract_files/quarantine,live,processed,upload;/data/zeek-shared:preserved,quarantine"
    "include_file_monitor" true
    "include_sidecars" true
    "zeek_image" $image
    "dirinit_image" $dirinit_image
    "file_monitor_image" $file_monitor_image
    "imagePullPolicy" .Values.image.pullPolicy
  ) }}
{{- end }}
