{{- $suricata_image := .Values.image.suricata_container_override | default (printf "%s/suricata:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
{{- if eq .Values.capture_mode "live" }}
---
apiVersion: v1
data:
  # Whether or not Suricata should monitor live traffic on a local
  #   interface (PCAP_IFACE variable below specifies capture interfaces)
  SURICATA_LIVE_CAPTURE: "true"
  SURICATA_PCAP_PROCESSOR: "false"
  # Specifies the Suricata runmode for live capture (see
  #   https://suricata.readthedocs.io/en/latest/performance/runmodes.html)
  SURICATA_RUNMODE: workers
  # Whether or not enable capture statistics and include them in eve.json
  SURICATA_STATS_ENABLED: "{{ .Values.suricata_live.suricata_stats_enabled }}"
  SURICATA_STATS_EVE_ENABLED: "{{ .Values.suricata_live.suricata_stats_enabled }}"
  SURICATA_STATS_INTERVAL: "30"
  SURICATA_STATS_DECODER_EVENTS: "false"
{{- if .Values.is_production }}
  {{- with .Values.suricata_live.production }}
  SURICATA_AF_PACKET_IFACE_THREADS: "{{ .af_packet_iface_threads }}"
  SURICATA_AF_PACKET_RING_SIZE: "{{ .af_packet_ring_size }}"
  SURICATA_AF_PACKET_BLOCK_SIZE: "{{ .af_packet_block_size }}"
  SURICATA_AF_PACKET_BLOCK_TIMEOUT: "{{ .af_packet_block_timeout }}"
  SURICATA_MAX_PENDING_PACKETS: "{{ .max_pending_packets }}"
  SURICATA_EVE_THREADED: "{{ .eve_threaded }}"
  SURICATA_EVE_ROTATE_INTERVAL: "{{ .eve_rotate_interval }}"
  {{- end }}
{{- else }}
  {{- with .Values.suricata_live.development }}
  SURICATA_AF_PACKET_IFACE_THREADS: "{{ .af_packet_iface_threads }}"
  SURICATA_AF_PACKET_RING_SIZE: "{{ .af_packet_ring_size }}"
  SURICATA_AF_PACKET_BLOCK_SIZE: "{{ .af_packet_block_size }}"
  SURICATA_AF_PACKET_BLOCK_TIMEOUT: "{{ .af_packet_block_timeout }}"
  SURICATA_MAX_PENDING_PACKETS: "{{ .max_pending_packets }}"
  SURICATA_EVE_THREADED: "{{ .eve_threaded }}"
  SURICATA_EVE_ROTATE_INTERVAL: "{{ .eve_rotate_interval }}"
  {{- end }}
{{- end }}
kind: ConfigMap
metadata:
  name: suricata-live-env

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: suricata-live-daemonset
spec:
  selector:
    matchLabels:
      name: suricata-live-daemonset
  template:
    metadata:
      labels:
        name: suricata-live-daemonset
    spec:
      serviceAccountName: {{ .Values.suricata_chart_overrides.serviceAccountName | default "default" }}
      # Required for coredns to work with hostnetwork set to true.
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      nodeSelector:
{{ toYaml .Values.suricata_live.nodeSelector | indent 8 }}
{{- with .Values.live_capture.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}
      containers:
      {{ include "malcolm.suricata.container" (dict
           "root" $
           "mode" "live"
           "securityContext" (dict
             "runAsGroup" 0
             "runAsUser" 0
             "capabilities" (dict "add" (list "IPC_LOCK" "SYS_RESOURCE" "NET_ADMIN" "NET_RAW" "SYS_NICE"))
           )
           "envFrom" (list
             (dict "configMapRef" (dict "name" "process-env"))
             (dict "configMapRef" (dict "name" "ssl-env"))
             (dict "configMapRef" (dict "name" "upload-common-env"))
             (dict "configMapRef" (dict "name" "suricata-env"))
             (dict "configMapRef" (dict "name" "suricata-live-env"))
             (dict "configMapRef" (dict "name" "pcap-capture-env"))
           )
           "env" (list
             (dict "name" "SURICATA_DISABLED" "value" "false")
             (dict "name" "PCAP_NODE_NAME" "valueFrom" (dict "fieldRef" (dict "fieldPath" "spec.nodeName")))
           )
           "baseVolumeMounts" (list
             (dict "mountPath" "/var/local/ca-trust/configmap" "name" "var-local-catrust-volume")
             (dict "mountPath" "/var/log/suricata" "name" "suricata-live-suricata-logs-volume")
           )
         ) | nindent 6 }}
      {{- if ne (len .Values.suricata_chart_overrides.sideCars) 0 }}
      {{- toYaml .Values.suricata_chart_overrides.sideCars | nindent 6 }}
      {{- end }}
      initContainers:
      - name: suricata-live-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/suricata-logs:live"
        volumeMounts:
          - name: suricata-live-suricata-logs-volume
            mountPath: "/data/suricata-logs"
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: suricata-live-suricata-logs-volume
          hostPath:
            path: "{{ .Values.suricata_live.suricata_log_path }}"
            type: DirectoryOrCreate
        {{- if ne (len .Values.suricata_chart_overrides.live_volumes) 0 }}
        {{- toYaml .Values.suricata_chart_overrides.live_volumes | nindent 8 }}
        {{- else }}
        - name: suricata-custom-rules-volume
          configMap:
            name: suricata-rules
        - name: suricata-custom-configs-volume
          configMap:
            name: suricata-configs
        {{- end }}
{{- end }}
