{{- $arkime_image := .Values.image.arkime_container_override | default (printf "%s/arkime:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
{{- if .Values.arkime_live.enabled }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: arkime-live-daemonset
spec:
  selector:
    matchLabels:
      name: arkime-live-daemonset
  template:
    metadata:
      labels:
        name: arkime-live-daemonset
    spec:
      # Required for coredns to work with hostnetwork set to true.
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      nodeSelector:
{{ toYaml .Values.arkime_live.nodeSelector | indent 8 }}
{{- with .Values.live_capture.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}
      containers:
      - name: arkime-live-container
        image: "{{ $arkime_image }}"
        imagePullPolicy: Always
        stdin: false
        tty: true        
        securityContext:
          # TODO we should not be using root here
          runAsGroup: 0
          runAsUser: 0
          capabilities:
            add:
              # IPC_LOCK - to lock memory, preventing swapping
              - IPC_LOCK
              # SYS_RESOURCE - for increasing memlock limits
              - SYS_RESOURCE
              # NET_ADMIN and NET_RAW - to turn on promiscuous mode and capture raw packets
              - NET_ADMIN
              - NET_RAW
              # SYS_NICE - to set process nice values, real-time scheduling policies, I/O scheduling
              - SYS_NICE
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: opensearch-env
          - configMapRef:
              name: upload-common-env
          - configMapRef:
              name: pcap-capture-env
          - configMapRef:
              name: arkime-env
          - configMapRef:
              name: arkime-live-env
          - secretRef:
              name: arkime-secret-env
        env:
          - name: VIRTUAL_HOST
            value: "arkime.malcolm.local"
          - name: PCAP_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 210
          periodSeconds: 90
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: "/opt/arkime/lua/configmap"
            name: arkime-live-lua-volume
          - mountPath: /var/local/ca-trust/configmap
            name: arkime-live-var-local-catrust-volume
          - mountPath: /var/local/curlrc/secretmap
            name: arkime-live-opensearch-curlrc-secret-volume
          - mountPath: "/data/pcap"
            name: arkime-live-pcap-volume
          - mountPath: "/opt/arkime/wiseini"
            name: arkime-live-config-volume
            subPath: "arkime/wiseini"
            readOnly: true
{{- if and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name }}
          - name: elastic-cert
            mountPath: /usr/local/share/ca-certificates/elastic_ca.crt
            subPath: elastic_ca.crt
{{- end }}
      initContainers:
      - name: arkime-live-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/pcap:arkime-live"
        volumeMounts:
          - name: arkime-live-pcap-volume
            mountPath: "/data/pcap"
      volumes:
        - name: arkime-live-var-local-catrust-volume
          configMap:
            name: var-local-catrust
        - name: arkime-live-lua-volume
          configMap:
            name: arkime-lua
        - name: arkime-live-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: arkime-live-config-volume
          persistentVolumeClaim:
            claimName: config-claim
        - name: arkime-live-pcap-volume
          hostPath:
            path: "{{ .Values.arkime_live.pcap_hostpath }}"
            type: DirectoryOrCreate
{{- if and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name }}
        - name: elastic-cert
          secret:
            secretName: {{ .Values.external_elasticsearch.elastic_cert_name }}
{{- end }}
{{- end }}
