{{- $arkime_image := .Values.image.arkime_container_override | default (printf "%s/arkime:%s" .Values.image.repository .Chart.AppVersion) }}
{{- $dirinit_image := .Values.image.dirinit_container_override | default (printf "%s/dirinit:%s" .Values.image.repository .Chart.AppVersion) }}
{{- if .Values.arkime_live.enabled }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: arkime-live-daemonset
spec:
  selector:
    matchLabels:
      name: arkime-live-daemonset
  template:
    metadata:
      labels:
        name: arkime-live-daemonset
    spec:
      # Required for coredns to work with hostnetwork set to true.
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      nodeSelector:
{{ toYaml .Values.arkime_live.nodeSelector | indent 8 }}
{{- with .Values.live_capture.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}
      containers:
      {{ include "malcolm.arkime.container" (dict
           "root" $
           "name" "arkime-live-container"
           "pullPolicy" .Values.image.pullPolicy
           "securityContext" (dict
             "runAsGroup" 0
             "runAsUser" 0
             "capabilities" (dict "add" (list "IPC_LOCK" "SYS_RESOURCE" "NET_ADMIN" "NET_RAW" "SYS_NICE"))
           )
           "envFrom" (list
             (dict "configMapRef" (dict "name" "process-env"))
             (dict "configMapRef" (dict "name" "ssl-env"))
             (dict "configMapRef" (dict "name" "opensearch-env"))
             (dict "configMapRef" (dict "name" "upload-common-env"))
             (dict "configMapRef" (dict "name" "pcap-capture-env"))
             (dict "configMapRef" (dict "name" "arkime-env"))
             (dict "configMapRef" (dict "name" "arkime-live-env"))
             (dict "secretRef"    (dict "name" "arkime-secret-env"))
           )
           "volumeMounts" (concat
             (list
               (dict "mountPath" "/opt/arkime/lua/configmap"      "name" "arkime-live-lua-volume")
               (dict "mountPath" "/var/local/ca-trust/configmap"  "name" "var-local-catrust-volume")
               (dict "mountPath" "/var/local/curlrc/secretmap"    "name" "arkime-live-opensearch-curlrc-secret-volume")
               (dict "mountPath" "/data/pcap"                     "name" "arkime-live-pcap-volume")
               (dict "mountPath" "/opt/arkime/wiseini"            "name" "arkime-live-config-volume")
             )
             (ternary
               (list (dict "name" "elastic-cert" "mountPath" "/usr/local/share/ca-certificates/elastic_ca.crt" "subPath" "elastic_ca.crt"))
               (list)
               (and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name)
             )
           )
         ) | nindent 6 }}
        env:
          - name: PCAP_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
      initContainers:
      - name: arkime-live-dirinit-container
        image: "{{ $dirinit_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/pcap:arkime-live;/opt/arkime:wiseini"
          - name: PUSER_COPY
            value: "/opt/arkime/etc/wise.ini.example:/opt/arkime/wiseini/wise.ini"
        volumeMounts:
          - name: arkime-live-pcap-volume
            mountPath: "/data/pcap"
          - name: arkime-live-config-volume
            mountPath: "/opt/arkime/wiseini"
          - name: wise-config
            mountPath: "/opt/arkime/etc/wise.ini.example"
            subPath: "wise.ini"
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: arkime-live-lua-volume
          configMap:
            name: arkime-lua
        - name: arkime-live-opensearch-curlrc-secret-volume
          secret:
            secretName: opensearch-curlrc
        - name: wise-config
          configMap:
            name: wise-config
        - name: arkime-live-config-volume
          emptyDir:
            sizeLimit: 50Mi
        - name: arkime-live-pcap-volume
          hostPath:
            path: "{{ .Values.arkime_live.pcap_hostpath }}"
            type: DirectoryOrCreate
{{- if and .Values.external_elasticsearch.enabled .Values.external_elasticsearch.elastic_cert_name }}
        - name: elastic-cert
          secret:
            secretName: {{ .Values.external_elasticsearch.elastic_cert_name }}
{{- end }}
{{- end }}
