{{- $strelka_manager_image := .Values.image.strelka_manager_container_override | default (printf "%s/strelka-manager:%s" .Values.image.repository .Chart.AppVersion) }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: strelka-manager-deployment
spec:
  selector:
    matchLabels:
      name: strelka-manager-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: strelka-manager-deployment
    spec:
      containers:
      - name: strelka-manager-container
        image: "{{ $strelka_manager_image }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        securityContext:
          # TODO we should not be using root here
          runAsGroup: 0
          runAsUser: 0
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - secretRef:
              name: redis-env
          - configMapRef:
              name: pipeline-env
        livenessProbe:
          exec:
            command:
            - /usr/local/bin/container_health.sh
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - mountPath: /var/local/ca-trust/configmap
            name: var-local-catrust-volume
          - mountPath: "/etc/strelka/configmap"
            name: strelka-manager-config-volume
      volumes:
        - name: var-local-catrust-volume
          configMap:
            name: {{ .Values.ca_trust_configmap_name | default "var-local-catrust" }}
        - name: strelka-manager-config-volume
          configMap:
            name: strelka-manager-config


