---
apiVersion: v1
data:
  dhparam.pem: |
    -----BEGIN DH PARAMETERS-----
    MIIBCAKCAQEA7yG//9Ksp/vkheJ4yo1WConrUWtcN0qrn3/SbgDmzRr09ycdb1h4
    yS0h9GZLk4MvzNC9Fk7AYwi1bNierxdrp31qgS+mwrtTM0p0gHrd4ullkOekUEBO
    aECziTbjfh0aMzirjb8j6NAvqCy6qCdPYpm+HpwNumK0c4JYGT4Ek0coCw4A30yw
    ch3CX5IQMd+O8FW+0SNurnZ+0TQmlO7xJr+ARbYngzQHBgMIQgSOLiSgCi/dgUh4
    +6vUETo4Q0ytGoRZQlWXOfRtrEOFRlYCcz5ZI9TXovGcQs0736QXJnY4Gr0YlvGi
    Vyoi3N+QwxlHRX9nGWlEVefrGVEN7WKBLwIBAg==
    -----END DH PARAMETERS-----
kind: ConfigMap
metadata:  
  name: etc-nginx-certs-pem

---
apiVersion: v1
data:
  htpasswd: {{ .Values.auth.htpass_cred | b64enc }}
kind: Secret
metadata:  
  name: etc-nginx-auth
type: Opaque


---
apiVersion: v1
kind: Service
metadata:
  name: nginx-proxy
spec:
  # use "type: ClusterIP" if using Ingress-NGINX as illustrated in 99-ingress-nginx.yml.example
  # use "type: LoadBalancer" if using AWS Load Balancer as illustrated in 99-ingress-alb.yml.example
  type: ClusterIP
  ports:
    - port: 443
      protocol: TCP
      name: https
    - port: 8443
      protocol: TCP
      name: http
    - port: 9200
      protocol: TCP
      name: opensearch
  selector:
    name: nginx-proxy-deployment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-proxy-deployment  
spec:
  selector:
    matchLabels:
      name: nginx-proxy-deployment
  replicas: 1
  template:
    metadata:
      labels:
        name: nginx-proxy-deployment
    spec:
      containers:
      - name: nginx-proxy-container
        image: "{{ .Values.image.repository }}/nginx-proxy:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        ports:
          - name: https
            protocol: TCP
            containerPort: 443
          - name: http
            protocol: TCP
            containerPort: 8443
          - name: opensearch
            protocol: TCP
            containerPort: 9200
        envFrom:
          - configMapRef:
              name: process-env
          - configMapRef:
              name: ssl-env
          - configMapRef:
              name: auth-common-env
          - configMapRef:
              name: nginx-env
        livenessProbe:
          httpGet:
            path: /
            port: 8443
            scheme: HTTP
          initialDelaySeconds: 120
          periodSeconds: 30
          timeoutSeconds: 15
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
        - name: nginx-etc-nginx-volume
          mountPath: /etc/nginx/configmap
        - name: nginx-etc-nginx-secret-volume
          mountPath: /etc/nginx/secretmap
        - name: nginx-var-local-catrust-volume
          mountPath: /var/local/ca-trust/configmap
        - name: nginx-etc-nginx-certs-secret-volume
          mountPath: /etc/nginx/certs/secretmap
        - name: nginx-etc-nginx-certs-pem-volume
          mountPath: /etc/nginx/dhparam/configmap
        - name: nginx-opensearch-curlrc-secret-volume
          mountPath: /var/local/curlrc/secretmap
        - name: nginx-etc-auth-volume
          mountPath: /etc/nginx/auth
          subPath: "auth"
        - name: nginx-etc-auth-default-secret-volume
          mountPath: /tmp/auth/default/secretmap
        - name: nginx-runtime-logs-volume
          mountPath: /var/log/nginx
          subPath: "nginx"
      initContainers:
      - name: nginx-dirinit-container
        image: "{{ .Values.image.repository }}/dirinit:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        stdin: false
        tty: true
        envFrom:
          - configMapRef:
              name: process-env
        env:
          - name: PUSER_MKDIR
            value: "/data/config:auth;/data/runtime-logs:nginx"
        volumeMounts:
          - name: nginx-etc-auth-volume
            mountPath: "/data/config"
          - name: nginx-runtime-logs-volume
            mountPath: "/data/runtime-logs"
      volumes:
      - name: nginx-etc-nginx-volume
        configMap:
          name: etc-nginx
      - name: nginx-etc-nginx-secret-volume
        secret:
          secretName: etc-nginx
      - name: nginx-var-local-catrust-volume
        configMap:
          name: var-local-catrust
      - name: nginx-etc-nginx-certs-secret-volume
        secret:
          secretName: etc-nginx-certs
      - name: nginx-etc-nginx-certs-pem-volume
        configMap:
          name: etc-nginx-certs-pem
      - name: nginx-opensearch-curlrc-secret-volume
        secret:
          secretName: opensearch-curlrc
      - name: nginx-etc-auth-volume
        persistentVolumeClaim:
          claimName: config-claim
      - name: nginx-etc-auth-default-secret-volume
        secret:
          secretName: etc-nginx-auth
      - name: nginx-runtime-logs-volume
        persistentVolumeClaim:
          claimName: runtime-logs-claim
