---
apiVersion: v1
data:
  NGINX_AUTH_MODE: "{{ .Values.auth.mode }}"
  NGINX_LDAP_TLS_STUNNEL: "false"
  NGINX_LDAP_TLS_STUNNEL_CHECK_HOST: ""
  NGINX_LDAP_TLS_STUNNEL_CHECK_IP: ""
  NGINX_LDAP_TLS_STUNNEL_VERIFY_LEVEL: "2"
kind: ConfigMap
metadata:
  name: auth-common-env

---
apiVersion: v1
data:
  BEATS_SSL: "false"
  LOGSTASH_HOST: logstash:5044
kind: ConfigMap
metadata:
  name: beats-common-env

---
apiVersion: v1
data:
  FREQ_LOOKUP: "true"
  FREQ_SEVERITY_THRESHOLD: "2.0"
  SENSITIVE_COUNTRY_CODES: AM,AZ,BY,CN,CU,DZ,GE,HK,IL,IN,IQ,IR,KG,KP,KZ,LY,MD,MO,PK,RU,SD,SS,SY,TJ,TM,TW,UA,UZ
  TOTAL_MEGABYTES_SEVERITY_THRESHOLD: "1000"
kind: ConfigMap
metadata:
  name: lookup-common-env

---
apiVersion: v1
data:
  NETBOX_CRON: "{{ .Values.netbox.enabled }}"
  # The name of the default "site" to be created upon NetBox initialization, and to be queried for enrichment
  NETBOX_DEFAULT_SITE: "{{ .Values.netbox.netbox_default_site }}"
  # Customize manufacturer matching/creation with LOGSTASH_NETBOX_AUTO_POPULATE (see logstash.env)
  NETBOX_DEFAULT_AUTOCREATE_MANUFACTURER: "true"
  NETBOX_DEFAULT_FUZZY_THRESHOLD: "0.95"
  NETBOX_DISABLED: "{{ not .Values.netbox.enabled }}"

  # Whether or not Logstash will enrich network traffic metadata via NetBox API calls
  NETBOX_ENRICHMENT: "{{ .Values.netbox.enabled }}"
  # Whether or not unobserved network entities in Logstash data will be used to populate NetBox
  NETBOX_AUTO_POPULATE: "{{ .Values.netbox.netbox_auto_populate }}"
  # Whether or not unobserved network subnets in Logstash data will be created automatically in NetBox
  NETBOX_AUTO_CREATE_PREFIX: "{{ .Values.netbox.netbox_auto_populate }}"
  # Whether or not services (i.e., destination IP/port) will be looked up during NetBox enrichment
  NETBOX_ENRICHMENT_LOOKUP_SERVICE: "{{ .Values.netbox.enabled }}"
  # Customize manufacturer matching/creation with NETBOX_AUTO_POPULATE
  NETBOX_CACHE_SIZE: "{{ .Values.netbox.netbox_cache_size }}"
  NETBOX_CACHE_TTL: "{{ .Values.netbox.netbox_cache_ttl }}"
kind: ConfigMap
metadata:
  name: netbox-common-env

---
apiVersion: v1
data:
  BASE_PATH: netbox
  CENSUS_REPORTING_ENABLED: "false"
  CORS_ORIGIN_ALLOW_ALL: "True"
{{- if .Values.istio.enabled }}
  CSRF_TRUSTED_ORIGINS: https://{{ .Values.istio.virtualservicename }}.{{ .Values.istio.domain }}
{{- else }}
  CSRF_TRUSTED_ORIGINS: {{ .Values.netbox.csrf_trusted_origins | default "http://* https://*" | quote }}
{{- end }}
  EMAIL_FROM: netbox@bar.com
  EMAIL_PORT: "25"
  EMAIL_SERVER: localhost
  EMAIL_SSL_CERTFILE: ""
  EMAIL_SSL_KEYFILE: ""
  EMAIL_TIMEOUT: "5"
  EMAIL_USE_SSL: "false"
  EMAIL_USE_TLS: "false"
  EXEMPT_VIEW_PERMISSIONS: '*'
  GRAPHQL_ENABLED: "true"
  HOUSEKEEPING_INTERVAL: "86400"
  MAX_PAGE_SIZE: "1000"
  MEDIA_ROOT: /opt/netbox/netbox/media
  METRICS_ENABLED: "false"
  NAPALM_TIMEOUT: "10"
  REDIS_CACHE_DATABASE: "1"
  REDIS_CACHE_HOST: redis-cache
  REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY: "false"
  REDIS_CACHE_SSL: "false"
  REDIS_DATABASE: "0"
  REDIS_HOST: redis
  REDIS_INSECURE_SKIP_TLS_VERIFY: "false"
  REDIS_SSL: "false"
  RELEASE_CHECK_URL: ""
  REMOTE_AUTH_AUTO_CREATE_USER: "True"
  REMOTE_AUTH_AUTO_CREATE_GROUPS: "True"
  REMOTE_AUTH_GROUP_SYNC_ENABLED: "False"
  REMOTE_AUTH_BACKEND: netbox.authentication.RemoteUserBackend
  REMOTE_AUTH_DEFAULT_GROUPS: standard
  REMOTE_AUTH_DEFAULT_PERMISSIONS: standard_permission
  REMOTE_AUTH_ENABLED: "True"
  REMOTE_AUTH_HEADER: HTTP_X_REMOTE_AUTH
  REMOTE_AUTH_GROUP_HEADER: HTTP_X_REMOTE_AUTH_GROUP
  REMOTE_AUTH_USER_EMAIL: HTTP_X_REMOTE_AUTH_EMAIL
  REMOTE_AUTH_USER_FIRST_NAME: HTTP_X_REMOTE_AUTH_FIRST_NAME
  REMOTE_AUTH_USER_LAST_NAME: HTTP_X_REMOTE_AUTH_LAST_NAME
  REMOTE_AUTH_STAFF_GROUPS: administrator
  REMOTE_AUTH_STAFF_USERS: ""
  REMOTE_AUTH_SUPERUSER_GROUPS: administrator
  REMOTE_AUTH_SUPERUSERS: ""
  ENFORCE_GLOBAL_UNIQUE: "false"
  SKIP_STARTUP_SCRIPTS: "true"
  SKIP_SUPERUSER: "false"
  SUPERUSER_EMAIL: admin@example.com
  WEBHOOKS_ENABLED: "true"
kind: ConfigMap
metadata:
  name: netbox-env

---
apiVersion: v1
data:
  NGINX_LOG_ACCESS_AND_ERRORS: "false"
  NGINX_SSL: "false"
  NGINX_DASHBOARDS_PREFIX: ""
  NGINX_DASHBOARDS_PROXY_PASS: ""
  NGINX_RESOLVER_OVERRIDE: ""
  NGINX_RESOLVER_IPV4_OFF: "false"
  NGINX_RESOLVER_IPV6_OFF: "false"
  NGINX_X_FORWARDED_PROTO_OVERRIDE: ""
  NGINX_ERROR_LOG_LEVEL: ""
kind: ConfigMap
metadata:
  name: nginx-env

---
apiVersion: v1
data:
  MAX_LOCKED_MEMORY: unlimited
  OPENSEARCH_CREDS_CONFIG_FILE: /var/local/curlrc/.opensearch.primary.curlrc
{{- if .Values.is_production }}
  {{- with .Values.opensearch.production }}
  OPENSEARCH_JAVA_OPTS: -server {{ .java_memory }} -XX:-HeapDumpOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -Dlog4j.formatMsgNoLookups=true
  {{- end }}
{{- else }}
  {{- with .Values.opensearch.development }}
  OPENSEARCH_JAVA_OPTS: -server {{ .java_memory }} -XX:-HeapDumpOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom -Dlog4j.formatMsgNoLookups=true
  {{- end }}
{{- end }}
  OPENSEARCH_PRIMARY: "{{ include "malcolm.opensearchprimary" . }}"
  OPENSEARCH_SECONDARY: "false"
  OPENSEARCH_SECONDARY_CREDS_CONFIG_FILE: /var/local/curlrc/.opensearch.secondary.curlrc
  OPENSEARCH_SECONDARY_SSL_CERTIFICATE_VERIFICATION: "false"
  OPENSEARCH_SECONDARY_URL: ""
  OPENSEARCH_SSL_CERTIFICATE_VERIFICATION: "false"
  OPENSEARCH_URL: "{{ include "malcolm.opensearchprimaryurl" . }}"
  bootstrap.memory_lock: "true"
  cluster.routing.allocation.disk.threshold_enabled: "false"
  cluster.routing.allocation.node_initial_primaries_recoveries: "8"
{{- if .Values.opensearch.singleNode }}
  discovery.type: single-node
{{- else }}
  cluster.initial_cluster_manager_nodes: {{ template "malcolm.managerNodes" . }}
  discovery.type: ""
{{- end }}
  cluster.name: opensearch-cluster
  network.host: 0.0.0.0
  indices.query.bool.max_clause_count: "8192"
  logger.level: INFO
  path.repo: /opt/opensearch/backup
  node.roles: ingest,data,remote_cluster_client,cluster_manager
  discovery.seed_hosts: {{ template "malcolm.discoverySeeds" . }}
  MALCOLM_NETWORK_INDEX_PATTERN: "{{ .Values.siem_env.malcolm_network_index_pattern }}"
  MALCOLM_NETWORK_INDEX_ALIAS: "{{ .Values.siem_env.logstash_override.search_alias }}"
  # COMMMENTED out DO NOT add these back in
  # MALCOLM_OTHER_INDEX_ALIAS:
  MALCOLM_NETWORK_INDEX_TIME_FIELD: "{{ .Values.siem_env.malcolm_network_index_time_field }}"
  MALCOLM_NETWORK_INDEX_SUFFIX: "{{ .Values.siem_env.malcolm_network_index_suffix }}"
  MALCOLM_OTHER_INDEX_PATTERN: "{{ .Values.siem_env.malcolm_other_index_pattern }}"
  MALCOLM_OTHER_INDEX_TIME_FIELD: "{{ .Values.siem_env.malcolm_other_index_time_field }}"
  MALCOLM_OTHER_INDEX_SUFFIX: "{{ .Values.siem_env.malcolm_other_index_suffix }}"
  ARKIME_NETWORK_INDEX_PATTERN: "{{ .Values.siem_env.arkime_network_index_pattern }}"
  ARKIME_NETWORK_INDEX_TIME_FIELD: "{{ .Values.siem_env.arkime_network_index_time_field }}"
kind: ConfigMap
metadata:
  name: opensearch-env

---
apiVersion: v1
data:
  PCAP_ENABLE_NETSNIFF: "{{ .Values.pcap_capture_env.net_sniff }}"
  PCAP_ENABLE_TCPDUMP: "{{ .Values.pcap_capture_env.tcpdump }}"
  PCAP_FILTER: "{{ .Values.pcap_capture_env.pcap_filter }}"
  PCAP_IFACE: "{{ .Values.pcap_capture_env.pcap_iface }}"
  PCAP_IFACE_TWEAK: "{{ .Values.pcap_capture_env.pcap_iface_tweak }}"
  PCAP_ROTATE_MEGABYTES: "{{ .Values.pcap_capture_env.pcap_rotate_megabytes }}"
  PCAP_ROTATE_MINUTES: "{{ .Values.pcap_capture_env.pcap_rotate_minutes }}"
kind: ConfigMap
metadata:
  name: pcap-capture-env

---
apiVersion: v1
data:
  CONFIG_MAP_DIR: configmap;secretmap
  MALCOLM_PROFILE: malcolm
  PGID: "{{ .Values.process_env.pgid }}"
  PUID: "{{ .Values.process_env.puid }}"
  TINI_VERBOSITY: "1"
  MALCOLM_CONTAINER_RUNTIME: docker
kind: ConfigMap
metadata:
  name: process-env

---
apiVersion: v1
data:
  PUSER_CA_TRUST: /var/local/ca-trust
kind: ConfigMap
metadata:
  name: ssl-env

---
apiVersion: v1
data:
  SURICATA_CUSTOM_RULES_ONLY: "false"
  SURICATA_UPDATE_DEBUG: "false"
  SURICATA_DISABLE_ICS_ALL: "false"
  SURICATA_UPDATE_ETOPEN: "true"
  SURICATA_UPDATE_RULES: "false"
  SURICATA_HOME_NET: "'[{{ .Values.pcap_capture_env.home_net }}]'"
  LUA_PATH: "{{ .Values.suricata_env.lua_path }}"
{{- if .Values.is_production }}
  {{- with .Values.suricata_env.production }}
  SURICATA_STREAM_MEMCAP: "{{ .stream_memcap }}"
  SURICATA_HOST_MEMCAP: "{{ .host_memcap }}"
  SURICATA_DEFRAG_MEMCAP: "{{ .defrag_memcap }}"
  SURICATA_FTP_MEMCAP: "{{ .ftp_memcap }}"
  SURICATA_STREAM_REASSEMBLY_MEMCAP: "{{ .stream_reassembly_memcap }}"
  SURICATA_FLOW_MEMCAP: "{{ .flow_memcap }}"
  {{- end }}
{{- else }}
  {{- with .Values.suricata_env.development }}
  SURICATA_STREAM_MEMCAP: "{{ .stream_memcap }}"
  SURICATA_HOST_MEMCAP: "{{ .host_memcap }}"
  SURICATA_DEFRAG_MEMCAP: "{{ .defrag_memcap }}"
  SURICATA_FTP_MEMCAP: "{{ .ftp_memcap }}"
  SURICATA_STREAM_REASSEMBLY_MEMCAP: "{{ .stream_reassembly_memcap }}"
  SURICATA_FLOW_MEMCAP: "{{ .flow_memcap }}"
  {{- end }}
{{- end }}
kind: ConfigMap
metadata:
  name: suricata-env

---
apiVersion: v1
data:
  AUTO_TAG: "true"
  PCAP_MONITOR_HOST: pcap-monitor
  PCAP_PIPELINE_IGNORE_PREEXISTING: "false"
  PCAP_PIPELINE_POLLING: "true"
  PCAP_PIPELINE_POLLING_ASSUME_CLOSED_SEC: "10"
  PCAP_PIPELINE_VERBOSITY: ""
  EXTRA_TAGS: "{{ .Values.upload_common_env.extra_tags }}"
kind: ConfigMap
metadata:
  name: upload-common-env

---
apiVersion: v1
data:
  .gitignore: |+
    *
    !.gitignore
kind: ConfigMap
metadata:
  name: var-local-catrust

---
apiVersion: v1
data:
  {{- if .Values.is_production }}
    {{- with .Values.zeek_env.production }}
  CAPA_MAX_REQUESTS: "{{ .capa_max_requests }}"
  CLAMD_MAX_REQUESTS: "{{ .clamd_max_requests }}"
  YARA_MAX_REQUESTS: "{{ .yara_max_requests }}"
  EXTRACTED_FILE_MAX_BYTES: "{{ .extracted_file_max_bytes }}"
  EXTRACTED_FILE_MIN_BYTES: "{{ .extracted_file_min_bytes }}"
    {{- end }}
  {{- else }}
    {{- with .Values.zeek_env.development }}
  CAPA_MAX_REQUESTS: "{{ .capa_max_requests }}"
  CLAMD_MAX_REQUESTS: "{{ .clamd_max_requests }}"
  YARA_MAX_REQUESTS: "{{ .yara_max_requests }}"
  EXTRACTED_FILE_MAX_BYTES: "{{ .extracted_file_max_bytes }}"
  # Prune ./zeek-logs/extract_files/ when it exceeds this size...
  EXTRACTED_FILE_PRUNE_THRESHOLD_MAX_SIZE: "{{ .extracted_file_prune_threshold_max_size }}"
  # ... or when the *total* disk usage exceeds this percentage
  EXTRACTED_FILE_PRUNE_THRESHOLD_TOTAL_DISK_USAGE_PERCENT: "{{ .extracted_file_prune_threshold_total_disk_usage_percent }}"
  # Interval in seconds for checking whether to prune ./zeek-logs/extract_files/
  EXTRACTED_FILE_PRUNE_INTERVAL_SECONDS: "{{ .extracted_file_prune_interval_seconds }}"
  EXTRACTED_FILE_MIN_BYTES: "{{ .extracted_file_min_bytes }}"
    {{- end }}
  {{- end }}
  EXTRACTED_FILE_CAPA_VERBOSE: "false"
  EXTRACTED_FILE_ENABLE_CAPA: "{{ .Values.zeek_env.extracted_file_enable_capa }}"
  EXTRACTED_FILE_ENABLE_CLAMAV: "{{ .Values.zeek_env.extracted_file_enable_clamav }}"
  EXTRACTED_FILE_ENABLE_YARA: "{{ .Values.zeek_env.extracted_file_enable_yara }}"
  EXTRACTED_FILE_HTTP_SERVER_ENABLE: "{{ .Values.zeek_env.extracted_file_http_server_enable }}"
  EXTRACTED_FILE_HTTP_SERVER_ZIP: "false"
  # Whether or not to use libmagic to show MIME types for Zeek-extracted files served
  EXTRACTED_FILE_HTTP_SERVER_MAGIC: "false"
  EXTRACTED_FILE_HTTP_SERVER_RECURSIVE: "{{ .Values.zeek_env.extracted_file_http_server_encrypt }}"
  EXTRACTED_FILE_IGNORE_EXISTING: "false"
  EXTRACTED_FILE_PIPELINE_VERBOSITY: ""
  EXTRACTED_FILE_PRESERVATION: {{ .Values.zeek_env.extracted_file_preservation }}
  EXTRACTED_FILE_UPDATE_RULES: "false"
  EXTRACTED_FILE_WATCHER_POLLING: "true"
  EXTRACTED_FILE_WATCHER_POLLING_ASSUME_CLOSED_SEC: "10"
  EXTRACTED_FILE_YARA_CUSTOM_ONLY: "false"
  # Adjust how often the JA4SSH hash is calculated
  ZEEK_JA4SSH_PACKET_COUNT: "200"
  # for zeek-long-connections plugin
  ZEEK_LONG_CONN_REPEAT_LAST_DURATION: "true"
  ZEEK_LONG_CONN_DO_NOTICE: "true"
  ZEEK_LONG_CONN_DURATIONS: "600,1800,3600,43200,86400"
  VTOT_REQUESTS_PER_MINUTE: "4"
  ZEEK_DISABLE_BEST_GUESS_ICS: ""
  ZEEK_DISABLE_HASH_ALL_FILES: ""
  ZEEK_DISABLE_ICS_ALL: ""
  ZEEK_DISABLE_ICS_BACNET: ""
  ZEEK_DISABLE_ICS_BSAP: ""
  ZEEK_DISABLE_ICS_DNP3: ""
  ZEEK_DISABLE_ICS_ENIP: ""
  ZEEK_DISABLE_ICS_ETHERCAT: ""
  ZEEK_DISABLE_ICS_GENISYS: "true"
  ZEEK_DISABLE_ICS_GE_SRTP: ""
  ZEEK_DISABLE_ICS_HART_IP: ""
  ZEEK_DISABLE_ICS_OMRON_FINS: ""
  ZEEK_DISABLE_ICS_MODBUS: ""
  ZEEK_DISABLE_ICS_OPCUA_BINARY: ""
  ZEEK_DISABLE_ICS_PROFINET: ""
  ZEEK_DISABLE_ICS_PROFINET_IO_CM: ""
  ZEEK_DISABLE_ICS_S7COMM: ""
  ZEEK_DISABLE_ICS_SYNCHROPHASOR: ""
  ZEEK_DISABLE_LOG_PASSWORDS: ""
  ZEEK_DISABLE_DETECT_ROUTERS: "true"
  ZEEK_DISABLE_SPICY_IPSEC: ""
  ZEEK_DISABLE_SPICY_LDAP: ""
  ZEEK_DISABLE_SPICY_OPENVPN: ""
  ZEEK_DISABLE_SPICY_STUN: ""
  ZEEK_DISABLE_SPICY_TAILSCALE: ""
  ZEEK_DISABLE_SPICY_TFTP: ""
  ZEEK_DISABLE_SPICY_WIREGUARD: ""
  ZEEK_DISABLE_SSL_VALIDATE_CERTS: ""
  ZEEK_DISABLE_TRACK_ALL_ASSETS: ""
  ZEEK_EXTRACTOR_MODE: {{ .Values.zeek_env.extract_mode }}
  ZEEK_ENIP_PORTS: ""
  ZEEK_GENISYS_PORTS: ""
  ZEEK_INTEL_FEED_SINCE: "{{ .Values.zeek_env.zeek_intel_feed_since }}"
  ZEEK_INTEL_FEED_SSL_CERTIFICATE_VERIFICATION: "false"
  ZEEK_INTEL_ITEM_EXPIRATION: "{{ .Values.zeek_env.zeek_intel_item_expiration }}"
  ZEEK_INTEL_REFRESH_THREADS: "2"
  ZEEK_SYNCHROPHASOR_DETAILED: ""
  ZEEK_OMRON_FINS_DETAILED: "true"
  ZEEK_SYNCHROPHASOR_PORTS: ""
  ZEEK_LOCAL_NETS: "{{ .Values.pcap_capture_env.home_net }}"
  ZEEK_JSON: ""
  # ZEEK_KAFKA_ENABLED: ""
  # ZEEK_KAFKA_BROKERS: "kafka.local:9091"
  # ZEEK_KAFKA_TOPIC: "zeek"
kind: ConfigMap
metadata:
  name: zeek-env
{{- if .Values.kafka.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
data:
  ZEEK_KAFKA_ENABLED: "{{ .Values.kafka.enabled }}"
  ZEEK_KAFKA_BROKERS: "{{ .Values.kafka.brokers }}"
  ZEEK_KAFKA_TOPIC: "{{ .Values.kafka.topic }}"
{{- end }}
---
apiVersion: v1
data:
  .gitignore: |+
    *
    !.gitignore
kind: ConfigMap
metadata:
  name: suricata-rules
{{- if not .Values.rule_mount_override.enabled }}
---
apiVersion: v1
data:
  .gitignore: |+
    *
    !.gitignore
kind: ConfigMap
metadata:
  name: suricata-configs
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zeek-intel-preseed
data:
  .gitignore: |+
    *
    !.gitignore

  __load__.zeek: ""
  MISP_MALDIR_.gitignore: |+
    *
    !.gitignore

  STIX_MALDIR_.gitignore: |+
    *
    !.gitignore

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zeek-custom
data:
  __load__.zeek: |
    # This is a blank file
