[Unit]
Description=Set interface to promiscuous mode

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip link set enp0s8 promisc on
ExecStart=/usr/sbin/ip link set enp0s8 up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target